* {
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-Black.ttf)
}

@font-face {
    font-family: poppins-light;
    src: url(/fonts/Poppins/Poppins-Light.ttf)
}

@font-face {
    font-family: fa;
    src: url("/fonts/fa/fa-brands-400.ttf");
}

html {
    font-family: poppins;
    background-color: #22252c;
}

i{
    color:black;
}