.editor {
    display: none;
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.inputTxt {
    width: 445px;
    height: 57px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    font-family: poppins-light;
    color: #3d3d3d;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}

.line-ctrl-btn {
    width: 57px;
    height: 53px;
    border-radius: 10px;
    font-family: poppins-light;
    font-size: xx-large;
}

.font-btn {
    width: 56px;
    height: 51px;
    font-family: poppins;
    font-size: large;
    border-radius: 10px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 2px 0 rgba(255, 255, 255, 0.58);
    background-color: #ffffff;
}

.color-pick {
    opacity: 0%;
}



.switch-line-btn {
    box-shadow: 1px 5px 0 #048b97, 0;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.add-line-btn {
    box-shadow: 1px 5px 0 #015d33, 0;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.img {
    width: 200px;
    height: 173px;
}

canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid #234985;
    background-color: white;
    border-radius: 10px;
}

.canvas-container {
    flex-basis: 50%;
    height: 546px;
    background-color: #22252c;
    /* margin: 0 auto; */
}

.canvas-ctrl {
    /* flex-basis: 45%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    height: 446px;
    border-radius: 20px;
    background-color: #3e4b68;
    padding: 40px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    align-content: center;
}

div.canvas-ctrl>* {
    margin-bottom: 25px;
}

.font-design {
    margin-bottom: 25px;
}

.line-ctrl {
    margin-bottom: 25px;
}

.stickers {
    width: 445px;
    height: 60px;
    border-radius: 45px;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
}

.meme-ctrl-btn {
    width: 115px;
    height: 51px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #1e7cd3;
}

a {
    text-decoration: none;
    color: inherit;
}



@media (max-width: 940px) {
    .editor {
        flex-direction: column;
    }

    .canvas-ctrl {

        width: 460px;
        padding: 10px;
        margin-top: 30px;
        margin: auto;
    }

    .canvas-container {
        margin-bottom: 20px;
    }
}

@media (min-width: 940px) {
    .gallery {}
}