.editor {
    display: none;
}


.inputTxt {
    width: 445px;
    height: 57px;
    /* box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff; */
    border-radius: 28px;
    background-color: #ebeef3f5;
    font-family: poppins-light;
    color: #050505;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}

.line-ctrl-btn {
    width: 57px;
    height: 53px;
    border-radius: 10px;
    font-family: poppins-light;
    background-color: #ebeef3;
    font-size: xx-large;
}

.font-btn {
    width: 56px;
    height: 51px;
    font-family: poppins-medium;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 2px 0 rgba(255, 255, 255, 0.58);
    background-color: #ffffff;
}



.switch-focus-line-btn {
    box-shadow: 1px 5px 0 #048b97, 0;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.add-line-btn {
    box-shadow: 1px 5px 0 #015d33, 0;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    margin-left: 20px;
    margin-right: 20px;
}

.switch-line-btn {
    box-shadow: 1px 5px 0 #602a62, 0;
    background-image: linear-gradient(-38deg, #602a62a5 0%, #602a62c7 50%, #602a62 100%);
}

.move-up-btn,
.move-down-btn {
    box-shadow: 1px 5px 0 #daeb92, 0;
    width: 40px;
    background-image: linear-gradient(-38deg, #caeb0dbc 0%, #caeb0ddc 50%, #caeb0d 100%);
}


.img {
    width: 200px;
    height: 173px;
}

canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid #234985;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #22252c;
}

.canvas-container {
    flex-basis: 50%;
    height: 546px;

    /* margin: 0 auto; */
}

.canvas-ctrl {
    /* flex-basis: 45%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 500px;
    border-radius: 20px;
    background-color: #3e4b68fa;
    padding: 40px;
    /* box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff; */
    align-content: center;
}

div.canvas-ctrl>* {
    margin-bottom: 25px;
}


.line-ctrl {
    margin-bottom: 25px;
    text-align: center;
}

.stickers {
    width: 445px;
    height: 60px;
    border-radius: 45px;
    background-color: #ffffff;
    text-align: center;
    /* margin-bottom: 25px; */
    padding-top: 10px;
    font-family: poppins-medium;
}

.meme-ctrl {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.meme-ctrl-btn {
    width: 130px;
    height: 51px;
    /* box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff; */
    border-radius: 15px;
    background-color: #1e7cd3;
    font-family: poppins-light;
    color: white;
    font-size: 1em;
}

.download-btn {
    background-color: rgba(124, 26, 131, 0.673);
}

.share-btn {
    background-color: rgba(197, 100, 163, 0.673);
    /* background-image: url(/img/share-nodes-solid.svg); */
}

a {
    text-decoration: none;
    color: inherit;
}

.delete-line-btn {
    background-image: url(/img/trash-solid.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: center;
    background-position-y: center;
    vertical-align: bottom;
    background-color: red;
}

.font-alignment,
.font-style {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding:0 15px 0 15px;
    /* text-align: center; */
}

.font-design {
    background-color: #048b97;
    padding: 10px 0 10px 0;
    border-radius: 10px;
}

.font-align-btn,.font-underline {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
    background-position-y: center;
    vertical-align: bottom;
}

.align-center {
    background-image: url(/img/align-center-solid.svg);
}

.align-left {
    background-image: url(/img/align-left-solid.svg);

}

.align-right {
    background-image: url(/img/align-right-solid.svg);
    
}

.font-underline{
    background-image: url(/img/underline-solid.svg);
}

.color-pick {
    /* background-image: url(/img/align-right-solid.svg); */
    position: block;
    margin-left: 20px;
}

.font-select {
    font-family: poppins-medium;
    font-size: 1.5em;
    width: 236px;
    height: 50px;
    box-shadow: 1px 5px 0 #5c5c5c5e, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffffde;
    text-align: center;
}

@media (max-width: 940px) {
    .editor {
        flex-direction: column;
    }

    .canvas-ctrl {

        width: 460px;
        padding: 10px;
        margin: auto;
    }

    .canvas-container {
        margin-bottom: 20px;
        margin-top: 100px;
    }
}

@media (min-width: 940px) {
    .gallery {}
}